<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523510982810-802fb8cik7jkvliajrrbm7mdqjvtv28t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523510982810-802fb8cik7jkvliajrrbm7mdqjvtv28t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>523510982810-3rbjv7gi457v4h2rqrppohu7ie2lfc9j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYYCxjag2N7Ntb3zi7nr83Dx4olvTe2tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>523510982810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.friendshelf</string>
	<key>PROJECT_ID</key>
	<string>friendshelf-d081b</string>
	<key>STORAGE_BUCKET</key>
	<string>friendshelf-d081b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523510982810:ios:d9bb8168bc5802b7fe9723</string>
</dict>
</plist>